<form #f="ngForm" (ngSubmit)="submitForm(f)" ngNativeValidate>
  <input type="hidden" name="id" [ngModel]="session()?.id">
  <label for="name">Session Name:</label>
  <div>
    <input
      id="name"
      [ngModel]="session()?.name"
      name="name"
      required
      type="text"
    />
  </div>
  <label for="startDate">Start:</label>
  <div class="date-time">
    <input
      id="startDate"
      [ngModel]="session()?.start?.toString()?.slice(0, 10)"
      name="startDate"
      required
      type="date"
    />
    <input
      id="startTime"
      [ngModel]="session()?.start?.toString()?.slice(11, 16)"
      name="startTime"
      required
      type="time"
      step="60"
    />
  </div>
  <label for="end-date">End:</label>
  <div class="date-time">
    <input
      id="endDate"
      [ngModel]="session()?.end?.toString()?.slice(0, 10)"
      name="endDate"
      type="date"
    />
    <input
      id="endTime"
      [ngModel]="session()?.end?.toString()?.slice(11, 16)"
      name="endTime"
      type="time"
      step="60"
    />
  </div>
  <div>
    <button class="primary" type="submit">Save</button>
  </div>
</form>
