.login-card {
  width: 360px;
  margin: auto;
}

label {
  margin: 6px;
  width: 128px;
  display: inline-block;
}

input {
  width: 280px;
  margin: 4px;
}

.date-time input {
  width: 128px;
}

button[type=submit] {
  margin-top: 32px;
  padding: 8px 32px;
}
