.alert-danger {
  background-color: #C21; /* Red */
}
.alert-success {
  background-color: #1A3;
}
.alert {
  position: absolute;
  right: 8px;
  top: 8px;
  padding: 24px 48px 24px 24px;
  border-radius: 16px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.alert-text {
  line-height: 48px;
  margin-left: 48px;
}
