<h2>
  {{ name() }}
</h2>
<h3 class="inline">
  @if (lastTelemetry()?.gravity) {
    Gravity: {{ (lastTelemetry().gravity!).toFixed(3) }}
    &nbsp; - &nbsp;
  }
  @if (lastTelemetry()?.temperature) {
    Temperature: {{ lastTelemetry().temperature!.toFixed(1) }} °C
  }
</h3>
@if (telemetry().length > 0) {
  <h4 class="inline">
    Original Gravity: {{ (og()).toFixed(3) }} &nbsp; - &nbsp; Final Gravity:
    {{ (fg()).toFixed(3) }} &nbsp; - &nbsp; Attenuation:
    {{ (((og() - fg()) / (og() - 1)) * 100).toFixed(1) }}%
  </h4>
}
<h4 class="inline">
  @if (lastTelemetry()?.battery) {
    Battery: {{ lastTelemetry().battery!.toFixed(1) }}% &nbsp; - &nbsp;
  }
  @if (lastTelemetry()?.rssi) {
    Signal: {{ lastTelemetry().rssi }} dB &nbsp; - &nbsp;
  }
  @if (lastTelemetry()?.date) {
    Last Telemetry: {{ lastTelemetry().date | relativeTime }}
  }
</h4>
@if (telemetry().length > 0) {
  <rd-fermentation-table [telemetry]="telemetry()"></rd-fermentation-table>
}
