<div class="header">
  <button (click)="navigateBack()" class="nav-button">
    <mat-icon fontIcon="arrow_back"></mat-icon>
  </button>
  <h1>History</h1>
</div>
<div class="card">
  @if (loading()) {
    <rd-spinner></rd-spinner>
  } @else {
    @if (sessions().length === 0) {
      <h4>No sessions yet!</h4>
    } @else if (detailSession()) {
      <rd-fermentation-details
        [name]="detailSession()?.name ?? 'Unnamed'"
        [telemetry]="detailTelemetry()"
      ></rd-fermentation-details>
    } @else {
      @for (session of sessions(); track session.id) {
        <button class="history-card" (click)="loadHistory(session.id)">
          <h4>
            {{ session.name }} ({{ session.start | date: 'd MMM yy' }} -
            {{ session.end | date: 'd MMM yy' }})
          </h4>
        </button>
      }
    }
  }
</div>
