<div class="header">
  <h1>History</h1>
  <div>
    <button (click)="navigateBack()" class="nav-button">
      <mat-icon fontIcon="arrow_back"></mat-icon>
    </button>
  </div>
</div>
<div class="card">
  @if (loading()) {
    <rd-spinner></rd-spinner>
  } @else {
    @if (sessions().length === 0) {
      <h4>No sessions yet!</h4>
    } @else if (detailSession()) {
      <rd-fermentation-details
        [session]="detailSession()!"
        [telemetry]="detailTelemetry()"
      ></rd-fermentation-details>
    } @else {
      @for (session of sessions(); track session.id) {
        <button class="history-card inline" (click)="loadHistory(session.id)">
          <h4>
            {{ session.name }}
          </h4>
          <span>
            {{ session.start | date: 'dd/MM/yyyy' }} -
            {{ session.end | date: 'dd/MM/yyyy' }}</span>
          <span>OG: {{ session.originalGravity | number:'1.3-3' }}, FG: {{ session.finalGravity | number:'1.3-3' }} </span>
          @if (session.originalGravity && session.finalGravity) {
            <span>Attenuation: {{ (((session.originalGravity - session.finalGravity) / (session.originalGravity - 1)) * 100) | number:'1.1-1' }}% </span>
          }
        </button>
      }
    }
  }
</div>
