.inline {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.inline h4 {
  width: 50%;
}

.inline span {
  flex-grow: 1;
}

.header {
  text-align: left;
}

.history-card {
  width: 100%;
  margin: 2px auto;
}
