.inline {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  text-align: left;
}

.reload-button {
  float: right;
  margin: 0;
}

.history-button {
  width: 100%;
  margin: 2px auto;
}
