<div class="header">
  <button (click)="navigateBack()" class="reload-button">
    <mat-icon fontIcon="arrow_back"></mat-icon>
  </button>
  <h1>History</h1>
</div>
<div class="card">
  @if (loading()) {
    <rd-spinner></rd-spinner>
  } @else {
    @if (sessions().length === 0) {
      <h4>This part of the RAPT API cannot be used!</h4>
    } @else {
      @for (session of sessions(); track session.id) {
        <div class="session-card">
          <h4>{{ session.name }}</h4>
        </div>
      }
    }
  }
</div>
