<h1>Hello and Welcome to RaptDash!</h1>
<div class="card login-card">
  <form #f="ngForm" (ngSubmit)="submitForm(f)" ngNativeValidate>
    <div>
      <label for="username">Username:</label>
      <input id="username" name="username" ngModel required type="text">
    </div>
    <div>
      <label for="apiToken">API Token:</label>
      <input id="apiToken" name="apiToken" ngModel required type="password">
    </div>
    <div>
      <button class="primary" type="submit">Login</button>
    </div>
  </form>
</div>
