.login-card {
  width: 360px;
  margin: auto;
}

label {
  margin: 8px;
  width: 90px;
  display: inline-block;
}

input {
  width: 240px;
}

button {
  padding: 4px;
  margin: 16px auto;
  width: 100px;
}
