.hydrocard {
  padding: 4px;
  background-color: #DDD;
  border: 1px solid #CCC;
  box-shadow: none;
}

.inline {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {

}

.reload-button {
  float: right;
  margin: 0;
}
