@use '@angular/material' as mat;

:root {
  @include mat.snack-bar-overrides((
    container-shape: 6px,
    container-color: #FFF
  ));
}

html {
  height: 100%;
}

body {
  color-scheme: light;
  margin: 0;
  background-color: #DDD;
  font-family: 'Google Sans', sans-serif;
}

.card {
  color: #111;
  background-color: #EEE;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 1px 1px 4px #777;
}

input {
  padding: 6px;
  border-radius: 6px;
  border: 2px solid #CCC;
}

button {
  padding: 6px;
  border-radius: 6px;
  margin: 16px auto;
  border: 2px solid #CCC;
  cursor: pointer;
  background-color: #DDD;
  transition: 0.2s;
}

button:disabled {
  cursor: not-allowed;
}

button:hover:not([disabled]) {
  background-color: #EEE;
  box-shadow: 1px 1px 3px #03B3;
}

button:active:not([disabled]) {
  background-color: #ABD;
}

button.primary {
  border: 2px solid #03B;
}

button.secondary {
  border: 2px solid #F52;
}

.header {
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-button {
  margin: 3px;
  width: 48px;
  height: 48px;
}

h1 {
  margin-left: 4px;
  margin-right: 4px;
}
